@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

// VARIABLES

$c1: #e4f5ff;
$c2: #96c7d5;
$c3: #2d7a9c;
$c4: #094f6e;
$c5: #022534;
$w: #fff;

// STYLES

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  color: $w;
  text-decoration: none;
}

* li {
  list-style: none;
}

body {
  color: $w;
  font-family: "Poppins";
  text-align: center;
}

nav {
  background-color: $c5;

  .menu-btn {
    font-size: 1.5rem;
    color: var(--clr-grey-1);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
    &:hover {
      color: var(--clr-secondary);
    }
  }
  ul {
    display: inline-flex;
    margin: 20px;
    padding: 30px auto;

    a {
      color: $w;
      text-decoration: none;
      &:active {
        background-color: $w;
        color: $c5;
      }
      &:hover {
        text-decoration: underline;
        transition: 0.5s;
      }
    }
  }
}

.hero {
  background: url("../../assets/nathan-de-fortunato-Kfjp8qa8_pM-unsplash.jpg");

  .typewrite {
    color: $w;
    font-family: "Anonymous Pro", monospace;
  }
}
