@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
  color: #fff;
}

* li {
  list-style: none;
}

body {
  color: #fff;
  font-family: "Poppins";
  text-align: center;
  line-height: 1.5;
  font-size: 0.875rem;
}

.menu {
  display: none;
}

nav {
  background: #fff;
  padding: 1rem 1.5rem;
}

nav .fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

nav .fixed-nav .links a {
  color: #022534;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-weight: bold;
  padding: 0.75rem 0;
}

nav .fixed-nav .links a:hover {
  color: #2d7a9c;
}

nav .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-header .nav-toggle {
  font-size: 1.5rem;
  color: green;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

nav .nav-header .nav-toggle:hover {
  color: red;
}

nav .nav-header .logo {
  width: 3rem;
}

nav .nav-header .links-container {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .links a {
    background: transparent;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    display: block;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin: 0 1rem;
    padding: 0;
  }
  .links a:hover {
    color: #094f6e;
    text-decoration: none;
  }
}

header {
  min-height: 100vh;
  background: url(../nathan-de-fortunato-Kfjp8qa8_pM-unsplash.jpg) center/cover no-repeat;
}

.banner {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
  color: #022534;
}

.title span {
  color: #094f6e;
}

#about,
#work,
#contact {
  min-height: 100vh;
  padding-top: 30px;
}

footer {
  background: #e4f5ff;
  padding: 5rem 1rem;
}

footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: #094f6e;
  width: 2rem;
  height: 2rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 3px;
  color: #fff;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}

.show-link {
  visibility: visible;
  z-index: 100;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=app.css.map */