@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

// VARIABLES

$c1: #e4f5ff;
$c2: #96c7d5;
$c3: #2d7a9c;
$c4: #094f6e;
$c5: #022534;
$w: #fff;

// STYLES

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  color: $w;
  text-decoration: none;
}

* li {
  list-style: none;
}

body {
  color: $w;
  font-family: "Poppins";
  text-align: center;
  line-height: 1.5;
  font-size: 0.875rem;
}
.menu {
  display: none;
}
nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo {
    margin-left: 30px;
    width: 3rem;
  }

  ul {
    display: inline-flex;
    margin: 20px;
    padding: 30px auto;

    a {
      color: $c5;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      transition: all 0.3s linear;
      padding: 0.75rem 0;

      &:active {
        color: $c3;
      }
      &:hover {
        text-decoration: underline;
        transition: all 0.5s;
      }
    }
  }
}
header {
  min-height: 100vh;
  background: url(../nathan-de-fortunato-Kfjp8qa8_pM-unsplash.jpg) center/cover
    no-repeat;
}
.banner {
  min-height: 100vh;
  // display: grid;
  // place-items: center;
  // text-align: center;
}
.hero {
  background: url("../../assets/nathan-de-fortunato-Kfjp8qa8_pM-unsplash.jpg");

  .typewrite {
    color: $w;
    font-family: "Anonymous Pro", monospace;
  }
}
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
