@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");

// VARIABLES

$c1: #e4f5ff;
$c2: #96c7d5;
$c3: #2d7a9c;
$c4: #094f6e;
$c5: #022534;
$w: #fff;

// STYLES

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
  color: $w;
}

* li {
  list-style: none;
}

body {
  color: $w;
  font-family: "Poppins";
  text-align: center;
  line-height: 1.5;
  font-size: 0.875rem;
}
.menu {
  display: none;
}

nav {
  background: $w;
  padding: 1rem 1.5rem;

  .fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $w;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    .links a {
      color: $c5;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      transition: all 0.3s linear;
      font-weight: bold;
      padding: 0.75rem 0;
      &:hover {
        color: $c3;
      }
    }
  }

  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav-toggle {
      font-size: 1.5rem;
      color: green;
      background: transparent;
      border-color: transparent;
      // transition: var(--transition);
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
    .logo {
      width: 3rem;
    }
    .links-container {
      height: 0;
      overflow: hidden;
      transition: all 0.3s linear;
    }
  }
}

@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: $w;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    display: block;
    transition: all 0.3s linear;
    margin: 0 1rem;
    padding: 0;
  }
  .links a:hover {
    color: $c4;
    text-decoration: none;
  }
}

header {
  min-height: 100vh;
  background: url(../nathan-de-fortunato-Kfjp8qa8_pM-unsplash.jpg) center/cover
    no-repeat;
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
// .hero {
//   background: url("../../assets/nathan-de-fortunato-Kfjp8qa8_pM-unsplash.jpg");

//   .typewrite {
//     color: $w;
//     font-family: "Anonymous Pro", monospace;
//   }
// }

/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
  color: $c5;
}
.title span {
  color: $c4;
}
#about,
#work,
#contact {
  min-height: 100vh;
  padding-top: 30px;
}

footer {
  background: $c1;
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: $c4;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 3px;
  color: $w;
  animation: bounce 2s ease-in-out infinite;

  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
